@page "/index"
@inject IProductDetailService _IProductDetail
@inject NavigationManager navigationManager
@inject IProductDetailService _productDetailService

@code {
    private List<ProductDetail> _lstProductDetail;
    protected override async Task OnInitializedAsync()
    {
        _lstProductDetail = (await _IProductDetail.GetAll()).ToList();
    }
    private void GetById(Guid id)
    {
        navigationManager.NavigateTo($"/products/detailshow/{id}");
    }
    void index()
    {
        navigationManager.NavigateTo($"/index");
    }
}

<html class="no-js">

<body>
    <img src="Image/bannerMCdonal.jpg" class="img-fluid" width="100%" alt="..." style="margin: auto">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="ttitle-stores">Món Ăn Hiện Đang bán</p>

                    @if (_lstProductDetail != null)
                    {
                        foreach (var item in _lstProductDetail.Take(8))
                        {
                            <div class="col-md-3 item tbox-item-middle tlist-food">
                                <a class="hoverfx" @onclick="(() => GetById(item.Id))">
                                    <div class="titem-middle">
                                        <img class="img-responsive timg-food-combo-carousel tlist-food" src="@item.Anh" alt="" pagespeed_url_hash="995117272" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />
                                        <p class="tname-food-combo-carousel">@item.Ten<br><b>@item.GiaBan</b></p>
                                        <a @onclick="(() => GetById(item.Id))" class="showWeb tbutton-food-combo-carousel">Xem chi tiết</a>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
                @*   <div class="col-md-12">
                <p class="ttitle-stores">Combo đồ ăn</p>
                @if (_lstProductDetail != null)
                {
                foreach (var item in _lstProductDetail.Take(4))
                {
                <div class="col-md-3 item tbox-item-middle tlist-food">
                <a class="hoverfx" @onclick="(() => GetById(item.Id))">
                <div class="titem-middle">
                <img class="img-responsive timg-food-combo-carousel tlist-food" src="@item.Anh" alt="" pagespeed_url_hash="995117272" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" />
                <p class="tname-food-combo-carousel">@item.Ten<br><b>@item.GiaBan</b></p>
                <a @onclick="(() => GetById(item.Id))" class="showWeb tbutton-food-combo-carousel">Xem chi tiết</a>
                </div>
                </a>
                </div>
                }
                }
                </div>*@
            </div>
        </div>
    </section>
</body>

</html>
﻿