@page "/cartDetails/{id}"
@using AppData.ViewModes.CartDetail
@inject NavigationManager NavigationManager
@inject ICartDetailService cartDetailService




<PageTitle>Cart Details</PageTitle>



<div class="card">
    <div class="card-header d-flex justify-content-center">
        <h3>Giỏ hàng</h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Số thư tự</th>
                <th>Tên</th>
                <th>Số lượng</th>
                <th>Đơn Giá</th>
                <th>Tổng</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ int Index = 1; }
            @if (listCart != null)
            {
                foreach (var item in listCart)
                {
                    <tr>
                        <td>@(Index++)</td>
                        <td>@item.Name</td>
                        <td>
                            <input type="number" @oninput="((ChangeEventArgs e) => UpdateSoLuongWithEventAndItem(e,item.Id))" @bind="@item.SoLuong" min="0" />
                        </td>
                        <td>@item.Dongia.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</td>
                        <td>@item.Sum.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</td>
                        <td>
                            <button class="btn btn-primary" @onclick="(() => ShowItemComBo(item.Id))">Xem chi tiết</button>
                            <button class="btn btn-danger" @onclick="(()=> DeleteItemCombo(item.Id))">X</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="card-footer">
        <div class="row">
            <div class="col-10">
                <b>Sum total : @sumTotal.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</b>
            </div>
            <div class="col-2">
                <button class="btn btn-dark">Thanh toán</button>
            </div>
        </div>

    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    [Parameter]
    public List<CartDetailViewModel> listCart { get; set; }
    private decimal sumTotal;

    protected override async Task OnInitializedAsync()
    {
        listCart = (await cartDetailService.GetListEntity(Guid.Parse("3247100d-5018-5366-7440-2c126cc94c2f"))).ToList();
        sumTotal = listCart.Sum(x => x.SoLuong * x.Dongia);
    }

    void ShowItemComBo(Guid id)
    {
        NavigationManager.NavigateTo($"cartdetail/products/{id}");
    }

    async void DeleteItemCombo(Guid id)
    {
        await cartDetailService.DeleteEntity(id);
        listCart = (await cartDetailService.GetListEntity(Guid.Parse("3247100d-5018-5366-7440-2c126cc94c2f"))).ToList();
        sumTotal = listCart.Sum(x => x.SoLuong * x.Dongia);
        StateHasChanged();

    }

    private async void UpdateSoLuongWithEventAndItem(ChangeEventArgs e, Guid id)
    {
        if (e.Value != null && e.Value != "" && e.Value.ToString().Length<10)
        {
            var entity = await cartDetailService.GetEntityByKey(id);
            entity.Soluong = Convert.ToInt32(e.Value);
            await cartDetailService.UpdateEntity(entity);
            listCart = (await cartDetailService.GetListEntity(Guid.Parse("3247100d-5018-5366-7440-2c126cc94c2f"))).ToList();
            sumTotal = listCart.Sum(x => x.SoLuong * x.Dongia);
            StateHasChanged();
        }

    }
}


